In [1]:
import pandas as pd

In [5]:
db_meetup = pd.read_csv('events_barcelona.csv', sep=';')

In [51]:
print("\"", end="")
for i in db_meetup['category'].unique():
    
    print(i, end='\",\"')

"Arts & Culture","Book Clubs","Career & Business","Cars & Motorcycles","Community & Environment","Dancing","Education & Learning","Fashion & Beauty","Fitness","Food & Drink","Games","Health & Wellbeing","Hobbies & Crafts","Language & Ethnic Identity","LGBT","Movies & Film","Music","New Age & Spirituality","Outdoors & Adventure","Parents & Family","Pets & Animals","Photography","Religion & Beliefs","Singles","Socializing","Sports & Recreation","Support","Tech","Writing","nan","

In [52]:
len(db_meetup['category'].unique())

30

In [59]:
import numpy as np
for i in range(0,10):
    print(np.random.randint(1,3))

2
2
1
2
1
2
1
2
2
1

In [100]:
preferences = ["Arts & Culture","Community & Environment","Fashion & Beauty",
                                "Food & Drink","Hobbies & Crafts", "Language & Ethnic Identity",
                                "LGBT", "Movies & Film", "Music", "New Age & Spirituality",
                                "Pets & Animals","Photography","Religion & Beliefs",]

available_preferences = ["Arts & Culture","Book Clubs","Career & Business",
                         "Cars & Motorcycles","Community & Environment","Dancing",
                         "Education & Learning","Fashion & Beauty","Fitness",
                         "Food & Drink","Games","Health & Wellbeing","Hobbies & Crafts",
                         "Language & Ethnic Identity","LGBT","Movies & Film","Music",
                         "New Age & Spirituality","Outdoors & Adventure","Parents & Family",
                         "Pets & Animals","Photography","Religion & Beliefs","Singles",
                         "Socializing","Sports & Recreation","Support","Tech","Writing"]

In [105]:
print(preferences)
print(len(preferences))
nb_to_remove = 3
nb_to_add = 4

not_selected_preferences = list(set(preferences) ^ set(available_preferences))

if nb_to_remove > len(preferences):
    nb_to_remove = len(preferences)


if nb_to_add > len(not_selected_preferences):
    nb_to_add =  len(not_selected_preferences)
    
for i in range(0,nb_to_remove):
    preferences.pop(np.random.randint(0,len(preferences)-i+1))
    
for j in range(0,nb_to_add):
    preferences.append(not_selected_preferences[np.random.randint(0,len(not_selected_preferences)+1 - i)])
print(preferences)
print(len(preferences))

['Arts & Culture', 'Fashion & Beauty', 'Food & Drink', 'Hobbies & Crafts', 'LGBT', 'Music', 'New Age & Spirituality', 'Pets & Animals', 'Photography', 'Religion & Beliefs']
10
['Arts & Culture', 'Food & Drink', 'Hobbies & Crafts', 'LGBT', 'New Age & Spirituality', 'Pets & Animals', 'Religion & Beliefs', 'Education & Learning', 'Fitness', 'Dancing', 'Language & Ethnic Identity']
11

In [104]:
aslist(not_selected_preferences)

NameError: name 'aslist' is not defined

In [91]:
data_xceed = pd.read_csv('../Xceed/xceed_barcelona.csv')

In [109]:

for i in data_xceed['musice style'].unique():
    print(i)
    
music_genres = ['techno','tech house','deep house','house',
            'minimal','electronic', 'electro', 'dance',
             'funky','hip hop','r&b','reggae dancehall',
            'hits', 'urban','pop','indie rock','latin',
            'reggaeton','nu disco']
len(music_genres)

Techno  Tech house
Deep House  Tech house  House
House  Techno  Tech house
Techno  Minimal  Electronic  Electro
Electro  House  Dance
Electro  Techno
Electronic  Techno  House
Electronic  Electro  Funky
Hip hop  R&B
Hip hop  R&B  Reggae - Dancehall
Techno
House  Hits  Electronic
Hip hop  R&B  Urban
Hits  Dance  Pop
Deep House  House
Hip hop  R&B  Hits
Hits  Indie - Rock  Pop
Deep House
Electronic  Electro  Funky  Deep House
Hits  Latin  Reggaeton
Reggaeton  R&B  Hip hop
House  Hits
Hip hop  R&B  Reggaeton
Indie - Rock  R&B  Pop
Latin  Reggaeton  Hits
Electronic  Electro  Deep House  Nu-Disco

19

In [21]:
data_xceed.head()

,Unnamed: 0,description,start time,place,musice style,price,category
0,0,PRISM 1st anniversary with Ben Klock,"Saturday, 17 November",INPUT Dance Club,Techno Tech house,€18.00,Music
1,1,"NOMADS pres: Sebastien Leger, Hraach, Nick Varon","Saturday, 17 November",Bikini,Deep House Tech house House,€10.00,Music
2,2,B Club - Marco Faraone & Victor Fernandez,"Thursday, 15 November",City Hall,Techno Tech house,€10.00,Music
3,3,SIGHT pres. Apollonia & Mahony,"Friday, 16 November",Pacha Barcelona,House Techno Tech house,FREE,Music
4,4,R33 Barcelona present: Anja Schneider,"Saturday, 17 November",R33 Club,Techno Minimal Electronic Electro,€15.00,Music

In [30]:
!pip install faker

Requirement already satisfied: faker in /anaconda3/lib/python3.7/site-packages (1.0.0)
Requirement already satisfied: text-unidecode==1.2 in /anaconda3/lib/python3.7/site-packages (from faker) (1.2)
Requirement already satisfied: six>=1.10 in /anaconda3/lib/python3.7/site-packages (from faker) (1.11.0)
Requirement already satisfied: python-dateutil>=2.4 in /anaconda3/lib/python3.7/site-packages (from faker) (2.7.3)

In [33]:
from faker import Faker
faker = Faker()

In [45]:
faker.ascii_safe_email()

'qlindsey@example.net'

In [47]:
import  as app

SyntaxError: invalid syntax (<ipython-input-47-0bb0c92867a6>, line 1)